.menu-navbar{
    
    background: #2E3B44;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    
}

.lnk{
    text-decoration: none;
    text-decoration-style: none;
    color: aliceblue;
}